<%- include("header") -%>

<h2>About Me:</h2>

<p>I am a passionate programmer and a web developer. Feel free to use this web application as you like and if its really a thumbs-up! share your feedback by emailing me at @vaibhavdwivedi3221@gmail.com</p>

<%- include("footer") -%>
